<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      A categoria <b><%=@codeCateg %></b> não existe para o Shopping <b>'<%=@shopping.name %>'</b> <br/>
      <br/>
      Loja: <b><%=@store.code %> - <%=@store.name %> </b> foi vinculada a categoria 'Outros'

    </p>
  </body>
</html>